.subscribe {
  @mixin input {
    @include scale(
      (
        padding-top: 19px,
        padding-right: 22px,
        padding-bottom: 20px,
        padding-left: 22px,
        font-size: 18px
      ),
      false
    );

    display: inline-block;

    padding: 16px 18px 16px;

    color: white;
    border: 0;
    border-radius: 30px;
    background-color: rgba($white, .3);

    font-size: 14px;
    line-height: 1;
  }

  &-call-to-action {
    @include scale(
      (
        margin-bottom: 17px,
        font-size: 28px
      )
    );

    letter-spacing: -0.28px;

    line-height: 1.5;
  }

  &-inputs {
    @include scale(
      (
        margin-bottom: 22px
      )
    );
  }

  &-phone-group {
    display: inline-flex;

    @include input;
    @include scale(
      (
        padding: 0
      )
    );
  }

  &-input {
    @include input;

    &-country-code {
      @include scale(
        (
          margin-right: 19px
        )
      );

      &::after {
        @include scale(
          (
            top: 3px,
            width: 8px,
            height: 19px,
            margin-left: 6px
          ),
          false
        );

        position: relative;
        top: 5px;

        display: inline-block;

        content: "";

        background-image: url("../assets/images/icon-dropdown.png");
        background-size: contain;
      }
    }

    &-phone {
      @include scale(
        (
          width: 275px
        )
      );

      outline: none;
      background-color: transparent;
    }
  }

  &-submit {
    @include scale(
      (
        padding-right: 30px,
        padding-left: 30px
      )
    );
    @include input;

    display: inline-block;

    color: theme-color();
    background-color: rgba($white, 0.8);

    font-weight: bold;
  }

  small {
    @include scale(
      (
        max-width: 520px,
        margin-bottom: 67px,
        font-size: 17px
      )
    );

    display: block;

    letter-spacing: -0.17px;

    line-height: 1.06;
  }
}
