.video {
  $video-w: 370px;
  $video-h: 740px;

  @include scale(
    (
      max-width: 380px
    )
  );

  position: relative;

  display: block;

  width: 100%;

  &::before {
    @include bp-up(lg) {
      position: absolute;
      top: 0;
      left: 0;

      display: block;

      width: 100%;
      height: 100%;

      content: "";

      background-image: url("../assets/images/iphone-cover-filled.png");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .video-mask {
    overflow: hidden;

    border: 5px solid white;

    @include bp-up(lg) {
      border: none;
      border-radius: #{$video-h * map-get($scales-up, lg) / 54px * 1%} / #{$video-w * map-get($scales-up, lg) / 54px * 1%};
    }

    @include bp-up(xl) {
      border-radius: #{$video-h / 54px * 1%} / #{$video-w / 54px * 1%};
    }
  }

  .video-inner {
    @include bp-up(lg) {
      padding: 5.8% 6.4%;
    }
  }

  video {
    position: relative;

    display: block;

    width: 100%;
    height: auto;
  }
}
