{% extends "layout.njk" %}

{% block content %}
<div class="page-home">
  <div class="container">
      <div class="row justify-content-between">
        <header class="col-12 page-home-header">
          <a href="index.html" class="btn p-0">
            <img src="assets/images/ideofit-logo.png" alt="Ideofit Logotype" class="logotype" width="204" height="83">
          </a>
        </header>

        <main class="col-12 col-lg-6 mb-5 mb-lg-0 page-home-jumbotron">
          <h1 class="page-home-heading">Find perfect shades</h1>
          <p class="page-home-sub-heading">With this free virtual try on app</p>

          <form class="subscribe" action="">
            <p class="subscribe-call-to-action">Send the download link to your phone</p>

            <div class="subscribe-inputs">
              <span class="subscribe-input subscribe-input-country-code">
                RU +7
              </span>

              <span class="subscribe-phone-group">
                <input id="phone-mask" class="subscribe-input subscribe-input-phone" type="phone" require>

                <input type="submit" class="subscribe-submit" value="Send Link">
              </span>
            </div>

            <small>By clicking send link, I acknowledge that I have read the <a target="_blank" class="link-dashed" href="assets/files/privacy-policy.pdf">privacy policy</a> and agree to the <a target="_blank" class="link-dashed" href="assets/files/terms-of-use.pdf">terms of service.</a></small>
          </form>

          <footer class="text-center text-lg-left">
            <a href="//apps.apple.com/us/app/ideofit-sunglasses/id1387326034" class="btn p-0">
              <img class="store-logotype" src="assets/images/button-app-store.png" alt="Download App in Apple App Store" width="222" height="70">
            </a>
          </footer>
        </main>

        <div class="col-12 col-lg-5">
          <p class="text-center d-lg-none">Realtime try on preview</p>
          <div class="video mx-auto mr-lg-0 ml-lg-auto">
            <div class="video-inner">
              <div class="video-mask">
                <video width="338" height="730" controls autoplay muted loop>
                  <source src="assets/files/preview.mp4" type="video/mp4">

                  <p>Sorry, your browser doesn't support the video element.</p>
                </video>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}
